html,
body {
  margin: 0;
  padding: 0;
  font-family: HiraginoSansGB-W3, Hiragino Sans GB, Microsoft Yahei UI, Microsoft Yahei, '微软雅黑', Segoe UI, Tahoma, '宋体b8b\\4f53', SimSun, sans-serif;
}
html .w,
body .w {
  width: 1150px;
  margin: 0 auto;
}
html a,
body a {
  color: #000;
}
#zufang-header {
  height: 36px;
  background-color: #303035;
}
header {
  height: 36px;
  line-height: 36px;
  margin: 0;
  box-shadow: 0 1px 0 0 #e4e6f0;
}
header .header_login {
  margin-right: 40px;
}
header .header_wrap {
  padding: 0;
}
header .header_wrap li {
  float: left;
  margin-right: 22px;
}
header .header_wrap li a {
  font-size: 12px;
  color: #9399a5;
}
header .header_wrap li a:hover {
  color: #fff;
}
header .header_wrap .active {
  color: #fff;
}
.header_wrap .last_li {
  float: right;
  margin-right: 180px;
}
.header_wrap .last_li img {
  vertical-align: middle;
  margin-right: 6px;
}
.search_area {
  width: 100%;
  height: 155px;
  padding: 25px 0;
  background: #f5f5f6;
  box-sizing: border-box;
}
.search_area .beike_nav {
  position: relative;
  width: 1150px;
  height: 30px;
  margin: 0 auto 30px;
}
.search_area .beike_nav_tab {
  position: absolute;
  top: 7px;
  left: 120px;
}
.search_area .beike_nav_tab li {
  float: left;
  margin-left: 40px;
  font-weight: 600;
}
.search_area .beike_nav_tab li .current {
  color: #3072f3;
}
.search_area .beike_nav_tab li a {
  color: #000;
}
.search_area .beike_nav_tab li a:hover {
  color: #3072f3;
}
.search_area .search_wrap {
  position: relative;
  width: 710px;
  line-height: 46px;
  font-size: 14px;
  margin-top: 22px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.search_area .search_wrap input {
  width: 668px;
  height: 44px;
  outline: none;
  padding: 16px 23px 17px;
  box-sizing: border-box;
  color: #A9A9A9;
  border-width: 0;
  font-size: 13px;
  font-weight: 200;
}
.search_area .search_wrap .search {
  position: absolute;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-top: 3px;
  margin-left: 4px;
  cursor: pointer;
  background: url(images/search.jpg) no-repeat 0 0;
}
.bread_nav {
  margin-top: 25px;
  font-size: 12px;
}
.bread_nav /deep/ .el-breadcrumb__inner {
  color: #929292;
  cursor: pointer!important;
}
.filter {
  position: relative;
  width: 1150px;
  padding-top: 15px;
}
.filter li {
  float: left;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 18px;
}
.filter .filter_wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
}
.filter .filter_wrap .filter_item_way {
  flex: 1;
  padding-left: 0;
  font-size: 14px;
}
.filter .filter_wrap .filter_item_way i {
  margin-left: 4px;
}
.filter .filter_wrap .filter_item_way .buxian li {
  margin-right: 20px;
}
.filter .filter_wrap .filter_item_way .strong {
  color: #3072f6 !important;
  font-weight: 700!important;
}
.filter .filter_wrap .filter_wrap ul:hover {
  color: #30A1F9;
}
.filter .area li {
  margin-right: 24px;
}
.filter .rentType {
  padding: 0;
  font-weight: 600;
  font-size: 14px;
}
.filter .rentType .strong {
  font-weight: 600;
  color: #3072f6;
}
.filter .rentType li:nth-child(n+2) {
  font-size: 12px;
  font-weight: 400;
  margin-top: 11px;
}
.filter .filter_item_way span:hover {
  color: #3072f6;
}
.filter .el-checkbox-group {
  display: inline-block;
  margin-left: 24px;
}
.filter .el-checkbox-group .el-checkbox {
  margin-right: 16px;
}
.filter .el-checkbox-group .el-checkbox__label {
  font-size: 12px;
}
.filter .rentMoney {
  padding: 0;
}
.filter .rentMoney .rentMoney_b {
  font-size: 14px;
  font-weight: 600;
}
.filter .rentMoney .el-checkbox__label:hover {
  color: #3072f6;
}
.filter .el-input {
  display: inline-block;
  width: 56px;
  margin: 0 6px;
}
.filter .rentHouse {
  margin-top: 8px;
}
.filter .rentElevator {
  position: relative;
  margin: 3px 0 24px 0;
}
.filter .more a {
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: #fff;
  position: absolute;
  bottom: -24px;
  left: 50%;
  text-align: center;
  font-size: 13px;
  color: #5680A6;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
}
.content {
  position: relative;
  width: 1150px;
}
.content .el-tab-pane {
  height: 1780px;
}
.content .el-tabs__nav {
  font-weight: 700;
  margin-top: 15px;
  font-size: 13px;
}
.content .content_article {
  width: 850px;
  margin: 30px 0 14px 0;
}
.content .content_article .content__title {
  font-size: 16px;
  color: #101d37;
  font-weight: 700;
}
.content .content_article .content__title .houseNum {
  margin: 0 4px;
  color: #3072f6;
}
.content .content_article .content__title .clearIf {
  position: absolute;
  right: 0;
  top: 0;
}
.content .content_article .content__title a {
  color: #5680a6;
  font-weight: 400;
  text-decoration: underline;
}
.content .content_article .content_list {
  display: flex;
  position: relative;
  height: 122px;
  margin-top: 20px;
}
.content .content_article .content_list .houseImages {
  height: 122px;
  width: 160px;
}
.content .content_article .content_list .houseImages img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  vertical-align: middle;
}
.content .content_article .content_list .content_list_main {
  position: relative;
  width: 660px;
  margin-left: 30px;
}
.content .content_article .content_list .content_list_main .itemTitle {
  margin-top: 0;
}
.content .content_article .content_list .content_list_main .itemTitle a {
  display: inline-block;
  max-width: 450px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  color: #101d37;
  font-family: HiraginoSansGB-W6;
}
.content .content_article .content_list .content_list_main .itemDes {
  margin-top: -10px;
}
.content .content_article .content_list .content_list_main .itemDes a {
  margin-bottom: 16px;
  font-size: 14px;
  color: #9399a5;
  font-weight: 700;
}
.content .content_article .content_list .content_list_main .itemTag {
  margin-top: -5px;
}
.content .content_article .content_list .content_list_main .itemTag .itemTagList {
  display: inline-block;
  font-style: normal;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  color: #849aae;
  background-color: rgba(132, 154, 174, 0.1);
  border-radius: 2px;
  margin-right: 6px;
  padding: 0 11px;
}
.content .content_article .content_list .content_list_main .itemBrand {
  margin-top: -5px;
  margin-bottom: 0;
}
.content .content_article .content_list .content_list_main .itemBrand .brand {
  color: #9399a5;
  font-size: 14px;
  margin-right: 10px;
}
.content .content_article .content_list .content_list_main .itemBrand .time {
  color: rgba(16, 29, 55, 0.3);
  font-size: 12px;
}
.content .content_article .content_list .content_list_main .itemBrand .time::before {
  margin-right: 9px;
}
.content .content_article .content_list .content_list_main .itemPrice {
  position: absolute;
  right: 0;
  top: 0;
  font-family: PingFangSC-Semibold;
  color: #fa5741;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
.content .content_article .content_list .content_list_main .itemPrice em {
  font-size: 24px;
  font-style: normal;
}
.content .content_article .content_list:nth-child(n+2) {
  margin-top: 50px;
}
.content .content_aside {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 170px;
  margin-top: 105px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.content .content_aside .codePic {
  margin-bottom: 64px;
}
.content .content_aside .codePic .erweima {
  width: 170px;
}
.content .content_aside .codePic .erweima img {
  display: block;
  margin: 0 auto;
  width: 94px;
  height: 94px;
}
.content .content_aside .codePic .app {
  color: #101d37;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: center;
}
.content .content_aside .codePic .text {
  width: 170px;
  height: 56px;
  text-align: center;
}
.content .content_aside .codePic .text p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  color: #101d37;
}
.content .content_aside .codePic .text .getMore a {
  color: #9399a5;
}
.content .content_aside .codePic .text .getMore span {
  margin-left: 4px;
}
.content .content_aside p {
  margin: 0;
}
.content .content_aside .recommend_list {
  color: #101d37;
}
.content .content_aside .recommend_list .houseResource {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
.content .content_aside .recommend_list .recommend_item {
  width: 170px;
  height: 200px;
  font-size: 13px;
  margin-bottom: 24px;
}
.content .content_aside .recommend_list .recommend_item a img {
  width: 100%;
  height: 127px;
  margin-bottom: 16px;
  border-radius: 2px;
}
.content .content_aside .recommend_list .recommend_item a .title {
  margin: 0;
  margin-top: -8px;
  color: #101d37;
  font-size: 13px;
}
.content .content_aside .recommend_list .recommend_item a .des {
  color: #9399a5;
  margin-top: 2px;
}
.content .content_aside .recommend_list .recommend_item a .price {
  color: #fa5741;
  margin: 4px 0 3px 0;
  font-size: 16px;
}
.content /deep/ .el-pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  font-weight: 400;
}
footer {
  border-top: 1px solid #ccc;
  font-size: 14px;
  margin-top: 40px;
}
footer .footer_main {
  border-top: 1px solid #e4e6f0;
  padding: 30px 0 80px;
}
footer .footer_main h3 {
  margin-bottom: 25px;
}
footer .footer_main .footer_middle .fatherList {
  padding-left: 0;
}
footer .footer_main .footer_middle .fatherList li {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 18px;
  color: #707787;
}
footer .footer_main .footer_middle .fatherList li .cur {
  color: blue;
}
footer .footer_main .footer_middle .sonList {
  padding-left: 0;
}
footer .footer_main .footer_middle .sonList li {
  float: left;
}
footer .footer_main .footer_middle .sonList li a {
  color: #b7bbc3;
  margin-right: 22px;
  margin-bottom: 2px;
}
footer .footer_main .footer_bottom {
  margin-top: 115px;
}
footer .footer_main .footer_bottom a {
  color: #b7bbc3;
}
.el-carousel__container {
  height: 0;
}
.carousel .el-carousel__item {
  height: 20px;
}
.carousel .el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 20px;
  margin: 0;
}
.carousel .el-carousel__button {
  display: none;
}
.carousel .el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.carousel .el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
